header {
    width: 70%;
    background-color: #444;
    border-radius: 10px;
}

header h1 {
    color: #d4d4d4;
}

nav {
    width: 70%;
    margin: 5px auto;
    border-radius: 10px;
}

main {
    border: none;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.img-item {
    
    flex: 1 1 150px;
}

main img {
    border-radius: 10px;
    box-shadow: 4px 4px 5px hsla(0, 0%, 27%, 0.5);

    height: 100%;
    width: 100%;
}

footer {
    width: 70%;
    background-color: #444;
    border-radius: 10px;
}

footer address {
    color: #d4d4d4;
}

@media (max-width: 600px) {
    main, header, nav, footer {
        width: 95%;
    }
}