header {
    width: 70%;
    background-color: #444;
    border-radius: 10px;
}

header h1 {
    color: #d4d4d4;
}

nav {
    width: 70%;
    margin: 5px auto;
    border-radius: 10px;
}

main {
    border: none;
    border-radius: 10px;
}



main table img {
    margin: 10px;
    border-radius: 10px;

    box-shadow: 4px 4px 5px hsla(0, 0%, 27%, 0.5);

}

footer {
    width: 70%;
    background-color: #444;
    border-radius: 10px;
}

footer address {
    color: #d4d4d4;
}

.imagem-destacada {
    box-shadow: 0 0 20px red;
}